{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-0">
            <div class="card">
                <div class="card-header text-center">
                    <img src="{% static 'trillo.jpg' %}" alt="Logo" class="img-fluid mb-3">
                </div>
                <div class="card-body">
                    <form method="post" class="form-signin">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</div>
{% endblock %}
